 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio HR Analytics üîéüë©üèª‚Äçüíºüë®üèª‚Äçüíº


<center>
<img src="https://www.skuadrarh.com/skuadra/wp-content/uploads/2019/06/reclutamiento_AD-895x430.jpg" border="0" width="70%" height="50%">

source image : [link](https://www.skuadrarh.com/skuadra/5-tips-para-reducir-la-alta-rotacion-de-personal/)

</center>

La **rotaci√≥n de empleados** es un problema costoso para las empresas, ya que el costo real de reemplazar a un empleado a menudo puede ser bastante grande.
Un estudio realizado por el [Center for American Progress](https://www.americanprogress.org/wp-content/uploads/2012/11/CostofTurnover.pdf) encontr√≥ que las empresas suelen pagar alrededor de una quinta parte del salario de un empleado para reemplazar a ese empleado, y el costo puede aumentar significativamente si los ejecutivos o los empleados mejor pagados deben ser reemplazados.

<br>

---

<br> 

Realizaremos un analisis de los factores que conducen a la deserci√≥n de los empleados, este es un conjunto de datos ficticios creado por cient√≠ficos de datos de **IBM**.
Datos obtenidos: [Kaggle](https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset)

<br>

----


<br>

Las **preguntas** que debemos responder son: 
* üîé ¬øCu√°les son los indicadores clave para que un empleado abandone la empresa?
* üîé ¬øQu√© estrategias se pueden adoptar en funci√≥n de los resultados analizados para mejorar la retenci√≥n de empleados?


<br>

Mas informaci√≥n sobre algunas varibales del dataset: 

<br>

**`Code`** | **`Education`** | **`EnvironmentSatisfaction`** | **`JobInvolvement`** | **`JobSatisfaction`** | **`PerformanceRating`** | **`RelationshipSatisfaction`** | **`WorkLifeBalance`**
--- | --- | --- | --- | ---| ---| ---| ---
1 | Below College | Low | Low | Low | Low | Low | Bad
2 | College | Medium | Medium | Medium| Good | Medium | Good
3 | Bachelor | High | High | High | Excellent | High | Better
4 | Master | Very High | Very High | Very High | Outstanding | Very High | Best
5 | Doctor | --- | --- | ---| ---| ---| ---


<br>

üè∑Ô∏è 1. Importar los paquetes

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
from google.colab import drive
import matplotlib.pyplot as plt
from datetime import datetime

pd.set_option('display.float_format', '{:.2f}'.format)

üè∑Ô∏è 1. Cargar el dataset "IBM_Employee.csv"

üè∑Ô∏è 2. Imprimir las primeras columnas del dataframe

In [ ]:
df.head()

    Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0 41.00       Yes  ...                    0.00                  5.00
1 49.00        No  ...                    1.00                  7.00
2 37.00       Yes  ...                    0.00                  0.00
3 33.00        No  ...                    3.00                  0.00
4 27.00        No  ...                    2.00                  2.00

[5 rows x 35 columns]

üè∑Ô∏è 3. Imprima cantidad de columnas y filas

üè∑Ô∏è 4. El dataframe contiene valores nulos:

* [ ] Si
* [ ] No

üè∑Ô∏è 5. En base a la documentaci√≥n del dataset cu√°ntos empleados abandonaron la compa√±√≠a.

üè∑Ô∏è 5. Describa como es el nivel educativo y la edad de los empleados de esta empresa, posteriormente realice un an√°lisis teniendo en cuenta los que abandonaron la empresa y los que a√∫n contin√∫an trabajando en la misma.

üè∑Ô∏è 6. En base a los datos obtenidos en el paso anterior cual de las siguientes expresiones es verdadera:

* [ ] a. La media de la edad de los empleados que renunciaron a la empresa es mayor que los que aun permanecen trabajando.
* [ ] b. La media de la edad de los empleados que renunciaron a la empresa es de 25 a√±os.
* [ ] c. La media de la edad de los empleados que renunciaron a la empresa es menor que los que aun permanecen trabajando.

üè∑Ô∏è 7. Realice un plot en la cual se pueda describir como es la edad de los empeados activos vs. los que avandonaron la empresa.

üè∑Ô∏è 8. Cuales son las √°reas o departamento que tienen m√°s rotaci√≥n de  empleados ?

üè∑Ô∏è 9. Eval√∫e la distribuci√≥n de los sueldos y deserci√≥n de los empleados, que conclusi√≥n puede obtener?
Asimismo realice un gr√°fico en el cual se pueda evaluar como son los sueldos que est√°n por debajo del promedio.

üè∑Ô∏è 10. Valide si la distancia que los empleados tienen para llegar a sus puestos de trabajo puede ser un factor que genere que los empleados cambien de trabajo.

üè∑Ô∏è 11. Qu√© an√°lisis puede realizar sobre la cantidad de a√±os trabajados?

üè∑Ô∏è 12. Realice un an√°lisis sobre el sueldo mensual en base a la experiencia que posee el empleado, realizando alguna diferenciaci√≥n entre los empleados activos y los que ya no trabajan en la empresa.

üè∑Ô∏è 13. Se afirma que las personas menores a 25 a√±os y solteros son los que m√°s rotaci√≥n tienen, puede validar esta afirmaci√≤n y asimismo puede brindar alg√∫n dato adicional sobre cual es el departamento que m√°s rotaci√≥n tiene para este rango de edad y estado civil.

üè∑Ô∏è 14. Cuales son las variables categoricas que seleccionaria para realizar un analisis de este dataset.
Que conclusiones obtuvo?