 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio Restaurant üçùüçïüçü

<center>
<img src="https://i.ibb.co/ySBJX7L/25746.png" alt="25746" border="0" width="80%" height="50%">
</center>

üîπ 1. Importar los paquetes que vamos a utilizar.

In [ ]:
import pandas as pd
import plotly.express as px


üîπ 2. Importar el dataframe tips

üîπ 3. Obtener las variables num√©ricas: la cantidad, promedio, m√≠nimos, m√°ximos y cuartiles.


üîπ 4. Agregar a los valores calculados en el paso anterior los percentiles: 0.1,0.25, 0.35, 0.5 y 0.8


üîπ 5. Generar un objeto denominado df_tips en el cual se agrupen los datos por la variable `day`

~~~
select day 
    from data
  group by day
~~~


üîπ 6. Que tipo de datos es df_tips?

üîπ 7. Imprimir los grupos generados

üîπ 8. Agrupar los datos por la variable denominada `sex` y obtener la suma de todas las variables num√©ricas.

~~~
select 
   sex,
   sum(total_bill) as total_bill, 
   sum(tip) as tip, 
   sum(size) as size
from data
group by sex
~~~

üîπ 9. Agrupar los datos por la variable denominada `sex` y `smoker`, posteriormente obtener la suma de todas las variables num√©ricas.

~~~
select 
  sex,
  smoker,
  sum(total_bill) as total_bill, 
   sum(tip) as tip, 
   sum(size) as size
from data
group by sex,smoker
~~~

üîπ 10. Generar un dataframe con los datos agrupados en el punto anterior.

üîπ 11. Generar un dataframe el mismo dataframe que en el paso anterior pero:
* Variable `tip`calcular el promedio.
* Variable `size`calcular la sumatoria.
* Variable `total_bill`calcular:
 + maximo
 + sumatoria
 + minimos

üîπ 12. Generar una nueva columna denominado `Mpromedio` en la cual retorne un true si supera a la propina promedio y un false si no la supera.

üîπ 13. Modificar la variables generada en el paso anterior para:
* `True` modificar por `Mayor`
* `False` modificar por `Menor`

üîπ 14. Calcular la cantidad de valores que ya para la variable `MayorPromedio`

üîπ 15. Generar un dataframe denominado `gpgroup` que se agrupe por las variables `sex`y `time`, calculando  el promedio por las variables num√©ricas