 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ahora 12 üõçÔ∏èüõíüí≥

Vamos a trabajar con el dataset de ahora 12 que se encuentra en el [link](https://datos.gob.ar/dataset/siep-ahora-12)

>**¬øQu√© es ahora 12?** Es un plan de financiamiento para que puedas comprar diferentes productos en 3, 6, 12 o 18 cuotas con tu tarjeta de cr√©dito sin ning√∫n l√≠mite de monto.

<center>
<img src="https://i.ibb.co/xsH0QZv/credit-card.jpg" alt="credit-card" border="0">

source image: [link](https://www.cartoq.com/how-india-can-learn-from-singapore-on-saving-from-fuel-charges-using-credit-cards/)

</center>

üè∑Ô∏è 1. Importar pandas, numpy y matplotlib.pyplot

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

üè∑Ô∏è 2. Importar el archivo **`ahora12-operaciones-series.csv`**

üè∑Ô∏è 3. Cuantas filas y columnas tiene el dataframe

üè∑Ô∏è 4. Imprimir las 5 primeras filas del dataframe

üè∑Ô∏è 5. Generar un dataframe que contenga tres columnas:
> * indice_tiempo
> * concepto
> * value

üè∑Ô∏è 6. Cuantos valores unicos tiene la variable concepto

üè∑Ô∏è 7. Generer un dataframe denominado **df_rubros** que tenga tres columnas:
> * concepto
> * provincia: que contenga la denominaci√≥n sin los `_`
> * rubro: los rubros contemplados en el plan ahora12

üè∑Ô∏è 8. Realizar un merge del dataframe ahora12 y el generado en el paso anterior.

üè∑Ô∏è 9. Generer las variables de:
> * numero del dia de la semana
> * denominaci√≥n del dia
> * numero del mes
> * a√±o

üè∑Ô∏è 10. Generar un dataframe que contenga las columnas:
> * mes 
> * value: con la sumatoria de las transacciones realizadas.

üè∑Ô∏è 11. Generar un dataframe que contenga las columnas:
> * dia 
> * value con la sumatoria de las transacciones realizadas.

üè∑Ô∏è 12. Generar un dataframe que las columnas sean los meses del a√±o y las filas sean los rubros.
Se deben completar los datos con la sumatorias de transacciones realizadas en cada intercepci√≥n.