 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio New York Flights ‚úàÔ∏è üß≥ üóΩ

<CENTER>
<img src="https://img.freepik.com/free-vector/plane-fly-cloud-sky-illustration-banner-concept-travel-tourism-jet-direction-holiday-flat_159757-154.jpg?size=626&ext=jpg" width="60%">
</CENTER>

Este ejercicio vamos a trabajar con los datos que se encuentran en el paquete **nycflights13**, este paquete contiene datos de las aerol√≠neas para todos los vuelos que pasaron por aeropuertos de Nueva York en 2013. Tambi√©n incluye 'metadatos' √∫tiles sobre `aerol√≠neas`, `aeropuertos`, `clima` y `aviones`.

Diagrama de entidad relaci√≥n [DER]

<center>
<img src="https://i.ibb.co/TYwvDqY/nycflights.png" alt="nycflights" border="0" width="40%">
</center>

In [ ]:
# INSTALAR EL PAQUETE 
!pip install nycflights13

In [ ]:
import pandas as pd
import nycflights13 as nyc

üîπ Importar los dataframes que estan en este paquete, los mismos deben tener los siguientes nombres: 
* `clima`,
* `vuelos`,
* `aerolineas`,
* `aeropuerto`,
* `planes`

üìù Recordemos los tipos de joins que podiamos realizar en **sql**

<center>
<img src="https://estradawebgroup.com/ImagesUpload/sql-joins.jpg" width="40%">
</center>

üîπ Generar un dataframe que contenga los datos de los vuelos y que contenga una columna con el nombre de la aerolinea.
El nombre de la columna nueva debe ser `aerolinea_nombre`

üîπ Modificar el dataset generado en el paso anterior para agregar dos columnas que contenga el nombre de la aeropuerto destino y origen.
El nombre de la columna nueva debe ser `aeropuerto_dest` y `aeropuerto_origen`

üîπ Hay algun aeropuerto que no tenga cargada la parametria en la tabla aeropuertos? En el caso de que exista alguno retornar cuales son sus codigos.

üîπ Se obtuvieron los datos de los vuelos para el 2014, por lo cual es necesario generar un dataframe denominado `vuelos_totales` que se encuentren los datos que estan en el dataset de `vuelos` y los que se encuentran en el archivo adjunto denominado `flights14.csv`

1. importar datos de vuelos14
1.1. validar si las columnas vuelos 14 son iguales a las columnas de vuelos 13
1.2 no son iguales validar cuales son las columnsa que tienen comun.
1.3 genero el dataframe vuelos14 con las columnas seleccionadas 
1.4 genero el dataframe vuelos13 con las mismas columnas que vuelos14
------
2. concat.