 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## Global Health Observatory data repository

El siguiente conjunto de datos que vamos a trabjar contiene datos sobre las muertes causadas por Tuberculosis, estos datos son recopilados por el observatorio de la Organizacion mundial de la salud.
Los datos se pueden descargar del siguiente [link](
https://apps.who.int/gho/data/node.main.1317?lang=en)

<center>
<img src="https://i.ibb.co/qDWjWCj/logo-who.jpg" alt="logo-who" border="0">
</center>

🏷️ 1. Importar pandas

🏷️ 2. Importar el dataframe que se encuentra en la siguiente URL.

In [ ]:
url='https://docs.google.com/spreadsheets/d/e/2PACX-1vR84JOFFZnonTTDgbtc686VZM4w7k-TvJ88OZL82srRyRgS_Aa1N127YYRyI0IalIzWtM3MYnUg2Yxg/pub?output=csv'

🏷️ 3. Visualizar las primeras filas del datafame

🏷️ 4. Modificar los nombres de las columnas por los siguientes:
> * 'Country'
> * 'year'
> * 'NroDeaths_ehiv'
> * 'NroDeaths_nhiv'

🏷️ 5. Separar las variable NroDeaths_ehiv y NroDeaths_nhiv en las siguientes:

* NroDeaths_ehiv
 - NroDeaths_ehiv_value
 - NroDeaths_ehiv_intervalo

* NroDeaths_nhiv
 - NroDeaths_nhiv_value
 - NroDeaths_nhiv_intervalo

🏷️ 6. Eliminar las columnas: `NroDeaths_ehiv` y `NroDeaths_nhiv`

🏷️ 7. Generar un dataframe que contenga cuatro columnas: 
> * **country**
> * **year**
> * **concepto**: que tenga los datos de las variables roDeaths_ehiv_value y NroDeaths_nhiv_value.
> * **value**