 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio Airbnb üè† üõãÔ∏è

<center>
 <img src="https://thereverend.co.uk/blog/wp-content/uploads/2019/01/Air-Bnb-Logo-e1546550992454.png" width="80%" height="10%"> 
</center>

üîπ Importar los paquetes que vamos a utilizar.

In [ ]:
import pandas as pd
import numpy as np

üîπ Importar el archivo que se encuentra en: https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-06-05/buenos_aires.csv

In [ ]:
buenos_aires=pd.read_csv('https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-06-05/buenos_aires.csv')

üîπ  Ver las primeras observaciones del dataframe

In [ ]:
buenos_aires.head()

      id                          descripcion  ...  huespedes politica_cancelacion
0   7270  ¬°¬°Great Loft in Palermo Hollywood!!  ...          2  estricta_con_gracia
1  11508   Amazing Luxurious Apt-Palermo Soho  ...          2  estricta_con_gracia
2  12463  Room in Recoleta - awesome location  ...          1             moderada
3  13095   Standard Room at Palermo Viejo B&B  ...          2  estricta_con_gracia
4  13096   Standard Room in Palermo Viejo B&B  ...          2  estricta_con_gracia

[5 rows x 13 columns]

üîπ  Cuantas columnas y filas tiene el dataframe

In [ ]:
buenos_aires.shape

(18708, 13)

üîπ Cuantos barrios tiene el dataframe

In [ ]:
len(buenos_aires.barrio.unique())

48

üîπ  Cuantas filas tienen valores nulos

In [ ]:
(buenos_aires.isna().sum(axis=1)>0).sum()

14

üîπ  Retonar las filas que contienen valores nulos

In [ ]:
filas_vacias=buenos_aires.loc[buenos_aires.isna().sum(axis=1)>0,:]

In [ ]:
filas_vacias.shape

(14, 13)

In [ ]:
buenos_aires.isnull().sum(axis=0) # columnas

id                       0
descripcion             11
id_anfitrion             0
nombre_anfitrion         3
anfitrion_desde          3
superanfitrion           3
barrio                   0
latitud                  0
longitud                 0
tipo_alojamiento         0
precio                   0
huespedes                0
politica_cancelacion     0
dtype: int64

üîπ  Utilizar una funci√≥n para poder imprimir alguno de los siguientes valores: cantidad, media, desvio standard, minimo, cuartiles y maximo.

In [ ]:
buenos_aires.describe()

                 id  id_anfitrion  ...         precio     huespedes
count  1.870800e+04  1.870800e+04  ...   18708.000000  18708.000000
mean   2.077530e+07  8.201835e+07  ...    2312.905442      2.706703
std    1.057996e+07  7.989028e+07  ...    6146.817265      1.503398
min    7.270000e+03  2.616000e+03  ...     126.000000      1.000000
25%    1.260790e+07  1.112531e+07  ...     964.000000      2.000000
50%    2.325444e+07  5.110859e+07  ...    1550.000000      2.000000
75%    3.014930e+07  1.479083e+08  ...    2482.000000      3.000000
max    3.396067e+07  2.563364e+08  ...  436543.000000     16.000000

[8 rows x 6 columns]

üîπ  Imprimir la cantidad de propiedades que hay por barrio

In [ ]:
buenos_aires.barrio.value_counts()

Palermo              5647
Recoleta             3045
San Nicolas          1017
Retiro                953
Balvanera             870
Almagro               826
Belgrano              821
Monserrat             771
Villa Crespo          625
San Telmo             614
Colegiales            382
Caballito             378
Chacarita             348
Nu√±ez                 346
Constitucion          267
Puerto Madero         223
Villa Urquiza         210
Barracas              146
Saavedra              115
San Cristobal         113
Flores                110
Boca                   91
Villa Ortuzar          84
Boedo                  84
Coghlan                80
Villa Devoto           67
Parque Patricios       55
Parque Chacabuco       46
Villa Del Parque       45
Parque Chas            43
Villa Pueyrredon       36
Paternal               28
Villa Gral. Mitre      27
Floresta               27
Agronomia              26
Villa Santa Rita       18
Villa Luro             17
Liniers                17
Velez Sarsfield        16
Monte Castro           15
Nueva Pompeya          12
Mataderos              10
Parque Avellaneda      10
Villa Lugano           10
Villa Real              7
Versalles               6
Villa Riachuelo         3
Villa Soldati           1
Name: barrio, dtype: int64

üîπ  Generar una variable denominada "BarrioMax" con el barrio que posee m√°s propiedades

In [ ]:
BarrioMax=buenos_aires.barrio.value_counts().index[0]
BarrioMax

'Palermo'

üîπ Generar una variable denominada "BarrioMin" con el barrio que posee m√°s propiedades

In [ ]:
BarrioMin=buenos_aires.barrio.value_counts().index[len(buenos_aires.barrio.unique())-1]
BarrioMin

'Villa Soldati'

üîπ Generar un dataframe con el barrio que posee m√°s propiedades denominado "Barriodf"

In [ ]:
Barriodf=buenos_aires.loc[buenos_aires.barrio==BarrioMax,:]

üîπ  En base al dataframe generado en el punto anterior, cuantas propiedades hay por tipo de alojamiento

In [ ]:
Barriodf.tipo_alojamiento.value_counts()

Alojamiento entero       4660
Habitaci√≥n privada        870
Habitaci√≥n compartida     117
Name: tipo_alojamiento, dtype: int64

üîπ En base al dataframe generado con el barrio que tiene mas cantidad de propiedades, imprima la cantidad de propiedades en base a las politicas de cancelaci√≥n

In [ ]:
Barriodf.politica_cancelacion.value_counts()

flexible               2125
estricta_con_gracia    1963
moderada               1555
superestricta_60          3
superestricta_30          1
Name: politica_cancelacion, dtype: int64

üîπ En base al dataframe generado con el barrio que tiene mas cantidad de propiedades, Cual es el rango de precios que hay?

In [ ]:
rango=max(Barriodf.precio)-min(Barriodf.precio)
rango

293100

üîπ En base al dataframe generado con el barrio que tiene mas cantidad de propiedades, Cual es el rango intercuart√≠lico de precios que hay?

In [ ]:
q3=Barriodf.precio.quantile(0.75)
q1=Barriodf.precio.quantile(0.25)

iqr=q3-q1
iqr

1676.0

üîπ En base al dataframe generado con el barrio que tiene mas cantidad de propiedades, Calcular los percentiles 20,30,50,70 y 90.-

In [ ]:
Barriodf.precio.quantile([0.20,0.30,0.4,0.50,0.6,0.70,0.90])

0.2    1131.0
0.3    1424.0
0.4    1640.0
0.5    1885.0
0.6    2165.4
0.7    2639.0
0.9    4609.0
Name: precio, dtype: float64

In [ ]:
Barriodf.precio.quantile([i/100 for i in range(20,100,10)])

0.2    1131.0
0.3    1424.0
0.4    1640.0
0.5    1885.0
0.6    2165.4
0.7    2639.0
0.8    3352.0
0.9    4609.0
Name: precio, dtype: float64

üîπ En base al dataframe generado con el barrio que tiene mas cantidad de propiedades, Imprimir todas las propiedades que tienen un precio superior al percentil 90.-

In [ ]:
p90=Barriodf.precio.quantile(.9)
p90

4609.0

In [ ]:
Barriodf90=Barriodf.loc[Barriodf.precio>=p90,:]

In [ ]:
Barriodf90.head()

       id  ... politica_cancelacion
22  20062  ...  estricta_con_gracia
47  45498  ...  estricta_con_gracia
60  58778  ...  estricta_con_gracia
61  58789  ...  estricta_con_gracia
62  58801  ...  estricta_con_gracia

[5 rows x 13 columns]

üîπ Generar un objeto con los tres barrios que tienen mas propiedades, esta lista se debe denominar "TresBarrios"

In [ ]:
TresBarrios=buenos_aires.barrio.value_counts().index[:3]
TresBarrios

Index(['Palermo', 'Recoleta', 'San Nicolas'], dtype='object')

üîπ Generar un dataframe denominado "dfTresBarrios" con los barrios que se encuentran en la lista del punto anterior

In [ ]:
dfTresBarrios=buenos_aires.loc[buenos_aires.barrio.isin(TresBarrios),:]

In [ ]:
dfTresBarrios.head()

      id                          descripcion  ...  huespedes politica_cancelacion
0   7270  ¬°¬°Great Loft in Palermo Hollywood!!  ...          2  estricta_con_gracia
1  11508   Amazing Luxurious Apt-Palermo Soho  ...          2  estricta_con_gracia
2  12463  Room in Recoleta - awesome location  ...          1             moderada
3  13095   Standard Room at Palermo Viejo B&B  ...          2  estricta_con_gracia
4  13096   Standard Room in Palermo Viejo B&B  ...          2  estricta_con_gracia

[5 rows x 13 columns]

üîπ Imprimir un dataframe que contenga todos los alojamiento de tipo "alojamiento entero" que sean aptos para m√°s de tres huespedes pero que no se encuentre en los tres barrios con mas propiedades. 
Asimismo para resguardar la informaci√≥n del anfitrion, retornar todas las columnas menos las: nombre_anfitrion, anfitrion_desde y superanfitrion

In [ ]:
var=pd.Series(dfTresBarrios.columns)
col=dfTresBarrios.columns[-var.str.contains('anfitrion')]
dfTresBarrios[col].loc[(dfTresBarrios.tipo_alojamiento== "Alojamiento entero") &
                  (dfTresBarrios.huespedes>=3),:].head(2)

       id  ... politica_cancelacion
8   14222  ...             moderada
16  17993  ...  estricta_con_gracia

[2 rows x 9 columns]

üîπ Realice un dataset con los dos anfitriones que tienen m√°s propiedades en los tres barrios que estan en la lista TresBarrios

In [ ]:
max_id_anfitrion=dfTresBarrios.id_anfitrion.value_counts().index[:2]
dfTresBarrios_anf=dfTresBarrios.loc[dfTresBarrios.id_anfitrion.isin(max_id_anfitrion),:]
dfTresBarrios_anf

             id  ... politica_cancelacion
559      686484  ...  estricta_con_gracia
560      686486  ...  estricta_con_gracia
743      878184  ...             flexible
779      922367  ...  estricta_con_gracia
1196    1649802  ...             moderada
...         ...  ...                  ...
17800  33271243  ...             moderada
17927  33366231  ...             moderada
18007  33416076  ...  estricta_con_gracia
18292  33639163  ...  estricta_con_gracia
18520  33823357  ...             moderada

[130 rows x 13 columns]

üîπ Cuantas propiedades tienen los anfitriones del punto anterior?

In [ ]:
anf=pd.DataFrame(dfTresBarrios_anf.id_anfitrion.value_counts()).reset_index().rename({'nombre_anfitrion':'total','index':'nombre_anfitrion'},axis=1)
anf

   nombre_anfitrion  id_anfitrion
0           4442974            78
1           3469227            52

üîπ Generar un dataframe que contenga dos observaciones correspondientes a los importes maximos de las propiedades de los anfitriones que se retornaron en el punto anterior.

In [ ]:
pd.concat([
    dfTresBarrios_anf.loc[dfTresBarrios_anf.id_anfitrion==anf.nombre_anfitrion[0],:].sort_values('precio',ascending=False).head(1),
    dfTresBarrios_anf.loc[dfTresBarrios_anf.id_anfitrion==anf.nombre_anfitrion[1],:].sort_values('precio',ascending=False).head(1)                 
])

            id  ... politica_cancelacion
7322  19521047  ...             moderada
3438   8457931  ...  estricta_con_gracia

[2 rows x 13 columns]