 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >  


## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio Base de Scoring


<center>
 <img src="https://miro.medium.com/max/1200/1*ZKa__3DMmxYlzXRg2EMKGA.png" width="50%" height="10%"> 
</center>


üè∑Ô∏è 1. Importar pandas, numpy, datetime y os.

In [1]:
import pandas as pd
import numpy as np
import datetime
import os
from google.colab import files

üè∑Ô∏è 2. Importar el archivo de base_scoring.csv

In [4]:
df = files.upload()

Saving base_scoring.csv to base_scoring (1).csv

In [5]:
df = pd.read_csv("/content/base_scoring.csv", sep = ";")

In [ ]:
df

üè∑Ô∏è 3. Visualizar las columnas del dataframe

In [7]:
df.columns

Index(['PLAZO', 'PRESTAMOS_ANTERIORES', 'SCORE_VERAZ', 'ESTADO_CIVIL',
       'DEUDA_SIST_FIN', 'INGRESOS_PERSONALES', 'dias_mora'],
      dtype='object')

üè∑Ô∏è 4. Generar una variable denominada **`'Mora_mas_90'`** en la cual:

  * si los dias de mora superan a los 90 dias asignar el valor **1**
  * si no supera los 90 dias asginar el valor **0**

In [8]:
df["Mora_mas_90"] = np.where(df["dias_mora"] >= 90, 1, 0)

In [9]:
df

      PLAZO  PRESTAMOS_ANTERIORES  ...  dias_mora Mora_mas_90
0        48                     3  ...          0           0
1        18                     1  ...          0           0
2        47                     5  ...          0           0
3        48                     4  ...          0           0
4        24                     3  ...          0           0
...     ...                   ...  ...        ...         ...
2608     32                     3  ...        312           1
2609     48                     3  ...        239           1
2610     36                     2  ...        277           1
2611     12                     4  ...        179           1
2612     24                     1  ...         93           1

[2613 rows x 8 columns]

üè∑Ô∏è 5. Eliminar la columna que contiene la cantidad de d√≠as de mora

In [10]:
df = df.drop("dias_mora", axis = 1 )

In [11]:
del df['dias_mora']

      PLAZO  PRESTAMOS_ANTERIORES  ...  INGRESOS_PERSONALES Mora_mas_90
0        48                     3  ...         212512.59370           0
1        18                     1  ...         130572.45360           0
2        47                     5  ...         230000.00000           0
3        48                     4  ...         105732.66300           0
4        24                     3  ...         112860.68950           0
...     ...                   ...  ...                  ...         ...
2608     32                     3  ...         206844.30150           1
2609     48                     3  ...         166153.47920           1
2610     36                     2  ...          67068.65126           1
2611     12                     4  ...         278198.30450           1
2612     24                     1  ...         132592.50100           1

[2613 rows x 7 columns]

üè∑Ô∏è 6. Cual es el **`ESTADO_CIVIL`** m√°s frecuente?

In [12]:
df.ESTADO_CIVIL.value_counts()

CASADO        1092
SOLTERO        672
Soltero        501
DIVORCIADO     253
VIUDO           25
Name: ESTADO_CIVIL, dtype: int64

üè∑Ô∏è 7. Verificar nuevamente el ejercicio 6 y corregir lo que sea necesario

In [13]:
df.ESTADO_CIVIL.unique()

array([nan, 'Soltero', 'CASADO', 'DIVORCIADO', 'SOLTERO', 'VIUDO'],
      dtype=object)

In [14]:
df["ESTADO_CIVIL"] = np.where(df["ESTADO_CIVIL"] == "Soltero", "SOLTERO", df["ESTADO_CIVIL"])

In [15]:
df.ESTADO_CIVIL.value_counts()

SOLTERO       1173
CASADO        1092
DIVORCIADO     253
VIUDO           25
Name: ESTADO_CIVIL, dtype: int64

üè∑Ô∏è 8. Verificar si hay observaciones que no tengan un valor en la variable ESTADO_CIVIL y asingar el valor m√°s frecuente. (Utilizar np.where)

In [16]:
df.ESTADO_CIVIL.unique()

array([nan, 'SOLTERO', 'CASADO', 'DIVORCIADO', 'VIUDO'], dtype=object)

In [18]:
df.ESTADO_CIVIL.isna().sum()

70

In [21]:
Moda = df.ESTADO_CIVIL.value_counts().index[0]
Moda

'SOLTERO'

In [22]:
df["ESTADO_CIVIL"] = np.where(df.ESTADO_CIVIL.isna(), Moda, df.ESTADO_CIVIL)

In [23]:
df.ESTADO_CIVIL.value_counts()

SOLTERO       1243
CASADO        1092
DIVORCIADO     253
VIUDO           25
Name: ESTADO_CIVIL, dtype: int64

üè∑Ô∏è 9. Existen valores nulos en la variable **`score_veraz`**, por lo cual asginar la mediana para dichas observaciones.
(Utilizar **`.loc`**)

In [24]:
df.SCORE_VERAZ.isna().sum()

532

In [26]:
Mediana = df.SCORE_VERAZ.median()
Mediana

731.0

In [27]:
df.loc[ df.SCORE_VERAZ.isna(), "SCORE_VERAZ" ] = Mediana

In [28]:
df.SCORE_VERAZ.isna().sum()

0

üè∑Ô∏è 10. El Score Veraz se puede asignar una categoria en base a los scores, por lo cual genere esa variable teniendo en cuenta las categorias que se visualizan en la siguiente imagen.
(Utilizar **`.loc`**)

<center>
<img src="https://www.cotizacion.co/img/valores-de-fico-score.jpg" width="50%" height="10%"> 
</center>

In [29]:
df["SCORE_VERAZ_CAT"] = " "

In [32]:
df.loc[df.SCORE_VERAZ.between(300,560), "SCORE_VERAZ_CAT"] = "VERY BAD"
df.loc[df.SCORE_VERAZ.between(561,650), "SCORE_VERAZ_CAT"] = "BAD"
df.loc[df.SCORE_VERAZ.between(651,700), "SCORE_VERAZ_CAT"] = "FAIR"
df.loc[df.SCORE_VERAZ.between(701,750), "SCORE_VERAZ_CAT"] = "GOOD"
df.loc[df.SCORE_VERAZ.between(751,850), "SCORE_VERAZ_CAT"] = "EXCELLENT"

In [33]:
df

      PLAZO  PRESTAMOS_ANTERIORES  ...  Mora_mas_90 SCORE_VERAZ_CAT
0        48                     3  ...            0       EXCELLENT
1        18                     1  ...            0            GOOD
2        47                     5  ...            0        VERY BAD
3        48                     4  ...            0            GOOD
4        24                     3  ...            0
...     ...                   ...  ...          ...             ...
2608     32                     3  ...            1             BAD
2609     48                     3  ...            1            GOOD
2610     36                     2  ...            1            FAIR
2611     12                     4  ...            1
2612     24                     1  ...            1             BAD

[2613 rows x 8 columns]

In [34]:
df.loc[df.SCORE_VERAZ <= 560, "SCORE_VERAZ_CAT"] = "VERY BAD"
df.loc[df.SCORE_VERAZ.between(561,650), "SCORE_VERAZ_CAT"] = "BAD"
df.loc[df.SCORE_VERAZ.between(651,700), "SCORE_VERAZ_CAT"] = "FAIR"
df.loc[df.SCORE_VERAZ.between(701,750), "SCORE_VERAZ_CAT"] = "GOOD"
df.loc[df.SCORE_VERAZ >= 751, "SCORE_VERAZ_CAT"] = "EXCELLENT"

In [35]:
df

      PLAZO  PRESTAMOS_ANTERIORES  ...  Mora_mas_90 SCORE_VERAZ_CAT
0        48                     3  ...            0       EXCELLENT
1        18                     1  ...            0            GOOD
2        47                     5  ...            0        VERY BAD
3        48                     4  ...            0            GOOD
4        24                     3  ...            0        VERY BAD
...     ...                   ...  ...          ...             ...
2608     32                     3  ...            1             BAD
2609     48                     3  ...            1            GOOD
2610     36                     2  ...            1            FAIR
2611     12                     4  ...            1       EXCELLENT
2612     24                     1  ...            1             BAD

[2613 rows x 8 columns]

In [37]:
df["VERAZ_CAT_2"] = pd.cut(df["SCORE_VERAZ"], bins = [0, 560, 650, 700, 750 , 1000], labels = ["VERY BAD", "BAD", "FAIR", "GOOD", "EXCELLENT"])

In [38]:
df

      PLAZO  PRESTAMOS_ANTERIORES  ...  SCORE_VERAZ_CAT VERAZ_CAT_2
0        48                     3  ...        EXCELLENT   EXCELLENT
1        18                     1  ...             GOOD        GOOD
2        47                     5  ...         VERY BAD    VERY BAD
3        48                     4  ...             GOOD        GOOD
4        24                     3  ...         VERY BAD    VERY BAD
...     ...                   ...  ...              ...         ...
2608     32                     3  ...              BAD         BAD
2609     48                     3  ...             GOOD        GOOD
2610     36                     2  ...             FAIR        FAIR
2611     12                     4  ...        EXCELLENT   EXCELLENT
2612     24                     1  ...              BAD         BAD

[2613 rows x 9 columns]

üè∑Ô∏è 11. Cual es la categoria que m√°s frecuente

In [39]:
df.SCORE_VERAZ_CAT.value_counts().index[0]

'EXCELLENT'

üè∑Ô∏è 12. Como podemos corregir y detectar cuales son los valores que no asignamos.

üè∑Ô∏è 13. En base a las categorias generadas asignar una variable dummy que:

  * Asigne un valor **1** si es **'GOOD'** o **'EXCELLENT'**
  * Para el resto de los valores asignar un **0**

In [40]:
df["VERAZ_DUMMY"] = np.where(df.SCORE_VERAZ_CAT.isin(["GOOD", "EXCELLENT"]), 1, 0)

In [41]:
df

      PLAZO  PRESTAMOS_ANTERIORES  ...  VERAZ_CAT_2 VERAZ_DUMMY
0        48                     3  ...    EXCELLENT           1
1        18                     1  ...         GOOD           1
2        47                     5  ...     VERY BAD           0
3        48                     4  ...         GOOD           1
4        24                     3  ...     VERY BAD           0
...     ...                   ...  ...          ...         ...
2608     32                     3  ...          BAD           0
2609     48                     3  ...         GOOD           1
2610     36                     2  ...         FAIR           0
2611     12                     4  ...    EXCELLENT           1
2612     24                     1  ...          BAD           0

[2613 rows x 10 columns]

üè∑Ô∏è 14. Generar una carpeta que contenga un archivo por cada categoria de score veraz. Se debe tener en cuenta que si alguna categoria contiene espacios, remplazar por "_"

  La carpeta debe tener la denominaci√≥n (**score_prestamos_YYYYMMDD**)

1. Creo la carpeta
2. for 
  * 1. filtrar por la categoria loc
  * 2. to_csv---> guardo en la carpeta del paso 1