In [ ]:
import redshift_connector
import pandas as pd
import numpy as np
import itertools

connection_params = {
    #"host": "redshift-cluster-1.ckn2lwjnp1s3.us-west-2.redshift.amazonaws.com",
    "host": "bi.cs6xqs1juvgi.us-east-1.redshift.amazonaws.com",
    "database": "bi",
    "user": "biadmin",
    "password": "dGXecsDNJa6pJymD",
}
#sql = "select * from dwh.fact_registers fr limit 10 "
sql = "select * from marketing.business_spend a limit 5"

with redshift_connector.connect(**connection_params) as con:
    df = pd.read_sql(sql, con=con)
print("conectado")
df.info()
dt=pd.DataFrame(df)
#dt["b'start'"]
#start = df["start"].map(rank).values
#start["'b'start'"]
#data = dt.rename(columns={b'start''"":'periodo orbital'})
df.columns = [col.decode("utf-8") for col in df.columns]
df